.container {
  max-width: calc(100vw - 170px);
  margin-right: 1.5rem;
  margin-bottom: 4rem;
}

.content {
  overflow-x: scroll;
  display: flex;
  align-items: start;
  gap: 2rem;
}

.content::-webkit-scrollbar {
  height: 0.5rem;
}

.content::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--greyishBlue);
  border-radius: 1rem;
}
