.container {
  margin-right: 1.5rem;
}

.content {
  width: calc(100% - 154px);
  overflow-x: scroll;
  position: absolute;
  display: flex;
  gap: 2rem;
}

.content::-webkit-scrollbar {
  height: 0.5rem;
}

.content::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--greyishBlue);
  border-radius: 1rem;
}
