.actorsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.actorImage {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.actorImage img {
  transition: scale 0.2s ease;
  object-fit: cover;
  width: 100%;
}

.actorCard:hover .actorImage img {
  scale: 1.1;
}

.actorName {
  font-size: 1.25rem;
  font-weight: 300;
}
