:root {
  --red: #fc4747;
  --pureWhite: #fff;
  --darkBlue: #10141e;
  --semiDarkBlue: #161d2f;
  --greyishBlue: #5a698f;
  --seaGreen: #0e7490;
  --darkSeaGreen: #0f766e;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: end;
  font-family: var(--type-outfit);
  color: var(--pureWhite);
  background-color: var(--darkBlue);
}

main {
  width: calc(100vw - 194px);
  margin-right: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
